<h1>Message Info</h1>

<div class="message">
  <div>
    <span><%= message.user %></span>
    <span><%= message.added %></span>
  </div>
  <p><%= message.text %></p>
</div>
<a href="/"><button>Back</button></a>
